.status-bar{
    position:fixed;
    width: 100%;
    box-sizing: border-box;
    display:flex;
    justify-content: center;
    padding: 5px 3px;
    background-color: #1E1E1E;
    top:0;
}
.status-bar__column{
    width:33%;
}
.status-bar__column:first-child span{
    margin-right:5px;
    color:white;
}
.status-bar__column:nth-child(2){
    display: flex;
    justify-content: center;
    color:white;
}
.status-bar__column:last-child{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color:white;
}
.status-bar__column .fa-battery-full{
    margin: 0px 5px;
}